





body { }   /* not necessary sytax */



/* Navigation Section 
    width: 970px;
    height: 70px; 
    width: 50rem;
    height: 4.375rem;*/


/* border-box provides better responsive behaviour  */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


@media screen {
font-size: 1.25 em;
margin:   10px   1.5% ;
}


.top-navigation {
    background-color: #fff;
	width: 100%; 
	z-index: 9999;  
	position: fixed;   /* fix the top navigation bar */  
	
	}


/* my top navigation is not responsive to screen size?  ... no responsivness  */
.top-navigation > .content {
    width: 100%;
    max-width: 970px;   /* for responsive code */
    height: 70px;
    margin: 0 auto; 
    /* margin-left: 1rem;  */
    /* padding-left: 16px;  */
    padding: 0px 16px;
}

.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    margin-right: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px; 
}

.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #D2206F;
}

.active > li {
	display: inline-block;
  /* Typography Declarations */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #838994;
    letter-spacing: 0.03em;
    font-weight: bold;
     }

    .logo {
    	    padding-top: 10px;
    	    padding-bottom: 10px;
    }


/* mid section CSS */

.introduction  {
    background-image: url('../images/first-background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;         /* background-size COVER is more dynamic and responsive to screen changes  */
    height: 45.938rem;
    overflow: auto;
}      

.introduction .content {
 	color: #fff;
    font-weight: 500;
    padding-left: 8px;
    padding-bottom: 8px;
    text-align: center;
	}

.introduction h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
    font-family: Roboto, sans-serif ;
    font-weight: 300;
}

.introduction h3 {
    font-size: 1.563rem;
    font-family: Roboto, sans-serif ;
    font-weight: 300;
}


.bigbutton {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    background-color: #D66437;
    color: white;

}

/* three icon section */


.threeicon h2 {
    font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
    text-align: center;
}

.threeicon .devices {
    width: 60%;
    display: inline-block;
    /* styles to assist with debugging */
    /* border: 1px solid black;  */
    /* box-sizing: border-box;  */
    height: inherit;
    padding: .5em;
    margin: 0 20%;   
}

.threeicon .devices > li {
    width: 33.3333333%;
    float: left;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align:  baseline;
    /* box-sizing: border-box;  */
    list-style: none;
    text-align: center;
}

.threeicon .devices .caption h3 {
	font-weight: 400;
    font-size: 1.2rem;
    margin: 2.5rem 0px 1.875rem;
    text-align: center;
    
	}

/*  footer section */

.social {
    background-color: #fff;
    overflow: auto;
    padding-bottom: 9.375rem;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    
}


  /* .social .icons  > li {

	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
	list-style: none;

}   */

.social .icons > li {
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}

ul.icons {
	padding-left: 0px;
}


li.twitter 	{
	color: #00aced ;
}

li.facebook	{
	color: #3b5998 ;
}

li.instagram	{
	color: #517fa4 ;
}

/* discuss use of div ? */

<1-- div {
    border: 2px solid Chocolate;
}
-->






